<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>ThoughtWorks Village Account</h1>
    <p>
      Hello, <%= @user.name %>.
    </p>
    <p>
      We received a request to reset your ThoughtWorks Village account password. If you did not make such a request, or you do not have a ThoughtWorks Village account, then you may delete and ignore this email.
    </p>
    <p>
      <a href="<%= @url %>users/reset?email=<%= @user.email %>">To reset your password, click here.</a>
    </p>
    <p>
      You will receive an email with your new password, which you can use to login to your account.
    </p>
    <p>ThoughtWorks Village - "It Takes a Village"</p>
  </body>
</html>
