<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Mentorship Request: Accepted</h1>
    <p>
      Hello, <%= @request.mentee.name %>! <%= @request.mentor.name %> has accepted your mentorship request.</br>
    </p>
    <p>
      You can contact <%= @request.mentor.name %> at this email address: <%= @request.mentor.email%></br>
    </p>
    <p>ThoughtWorks Village - "It Takes a Village"</p>
  </body>
</html>
