<h1>Join ThoughtWorks Village!</h1>
<table>
  <tr>
    <td align="center">
      <img src="/images/mentee.png" alt="Mentee" height=33% width=33% />
    </td>
    <td></td>
    <td align="center">
      <img src="/images/mentor.png" alt="Mentor" height=33% width=33% />
    </td>
  </tr>
  <tr>
    <td align="center">
      <h2>Want to learn from experienced software engineers?</h2>
      <%= link_to 'Become a Mentee', new_mentee_path %>
    </td>
    <td></td>
    <td align="center">
      <h2>Want to share knowledge and teach aspiring developers?</h2>
      <%= link_to 'Become a Mentor', new_mentor_path %>
    </td>
  </tr>
</table>
