<h1>View Mentorship Requests</h1>

<form>
  <div id="accept">
<div>
<h3>John Smith</h3>
<p>Reason: I want to create an alternative rock playlist generator using Ruby which I have little experience using.</p>
<p>Timeframe: One month long project starting on Oct 18 2010</p>
<input type="button" value="Accept" /><input type="button" value="Reject" />
</div>
<div>
<h3>Jane Doe</h3>
<p>Reason: I want to create an ai for a quantum chess game using Ruby which I have little experience using.</p>
<p>Timeframe: Two month long project starting on Oct 22 2010</p>
<input type="button" value="Accept" /><input type="button" value="Reject" />
</div>
</form>
<script type="text/javascript">
  $$('input').each(function (e) {
    
    e.observe('click',function (e) {
        window.location="/"
      }
      );
    });
  
</script>
</div>
