<a href="/availability_calendars/new" target="_blank">Update Availability Calendar</a><br />
<a href="/mentors/<%= session[:id] %>">View My Profile</a>
<h1>Edit your Mentor Profile</h1>

<%= render 'form' %>


