<<<<<<< HEAD
<h1>New request</h1>

<%= render 'form' %>

<%= link_to 'Back', requests_path %>
=======
<h1>New mentorship</h1>

<%= render 'form' %>

<%= link_to 'Back', mentorships_path %>
>>>>>>> 1939877c0728ecb0249992ef41c6cdfae6cbe954
