<p id="notice"><%= notice %></p>

<p>
  <b>Availabilityquotient:</b>
  <%= @availability_calendar.availabilityQuotient %>
</p>


<%= link_to 'Edit', edit_availability_calendar_path(@availability_calendar) %> |
<%= link_to 'Back', availability_calendars_path %>
