<h1>Delete Profile</h1><form>
<div style="background-color: red; width: 500px; position:absolute; left:50%; margin-left:-250px; ">
<p> Are you sure you want to delete all of your information?</p>
<input type="button" name="delete_button" value="Delete Profile"/>
</div>
</form>
