<h1>Update John Smith's Profile</h1>
<form>
<style type="text/css">
.tabcontent td {
padding:7px 0px;
}
.tabcontent li {
padding-left: 0px; 
}
.tabcontent ul {
padding-left: 0px; 
}
</style>

<div id="tab2content">
<table>
<tr><td>Total Years Experience: </td><td><input type="text" value="5"/></td></tr>
<tr><td>Why you became/want to become a software engineer?</td><td><textarea>I like toitles.</textarea></td></tr>
<tr><td colspan="2">
    <table>
    <tr><td>Technology</td><td>Years Experience</td><td>Comfort Level</td></tr>
    <tr><td><input type="text" value="Ruby"/></td><td><input type="text" value="3"/></td><td><input type="text" value="High"/></td></tr>
    <tr><td><input type="text" value="C"/></td><td><input type="text" value="5"/></td><td><input type="text" value="High"/></td></tr>
    <tr><td><input type="button" value="Add Technology" /></td></tr>
    </table>
    
</td></tr>
<tr><td>Favorite books, blogs, sites, projects:</td><td><textarea>The Pragmatic Programmer
The Daily WTF
 thoughtworks.com
  xkcd.com
  </textarea>
 </td>
<tr><td>Personal blogs, sites, projects</td><td><textarea>blog.johnsmith.com
 johnsmith.com</textarea></td></tr>
<tr><td>Acomplishments: </td><td><textarea>The Ben Bernacke award for excellence in the research ofArtificial Intelligience 2008</textarea></td></tr>

</table>
</div>
<input type="button" value="Previous" />
<input type="button" value="Next" />
</form>