<h1>Update John Smith's Profile</h1>
<style type="text/css">
.tabcontent td {
padding:7px 0px;
}
.tabcontent li {
padding-left: 0px; 
}
.tabcontent ul {
padding-left: 0px; 
}
</style>
<form>
<div id="tab3content">
<table>
<tr><td>Specialties/Accomplishments:</td><td><textarea>Third degree black belt in karate</textarea></td></tr>
<tr><td>Activities/Interests:</td><td><textarea>Karate
spelunking
golf
</textarea>
 </td></tr>
</table>
</div>
<input type="button" value="Finish" />
</form>