<h1>Search Results</h1>
<style type="text/css">
#FilterDiv {
float: left; 
width: 200px;
}
#FilterDiv label {
display:block;
}
th a {
color: white;
}
</style>
<div id="FilterDiv" style="">
<form>
<strong>Filter</strong>
<p>Location:
<label for="loc1"><input type="checkbox" id="loc1" value="1" />Cincinnati</label>
<label for="loc2"><input type="checkbox" id="loc2" value="1" />Indianapolis</label></p>
<p>Technologies:
<label for="exp1"><input type="checkbox" id="exp1" value="1" />C#</label>
<label for="exp2"><input type="checkbox" id="exp2" value="1" />Ruby</label>
<label for="exp3"><input type="checkbox" id="exp3" value="1" />C</label>
</p>
<p>Preferred Contact Method:
<label for="con1"><input type="checkbox" id="con1" value="1" />E-mail</label>
<label for="con2"><input type="checkbox" id="con2" value="1" />Phone</label>
<label for="con3"><input type="checkbox" id="con3" value="1" />Meetings</label>
</p>
<p>Years Experience: 
<select>
<option>Greater than</option>
<option>Less than</option>
</select>
<input type="text" style="width:25px;" /> years
</p>
<input type="submit" value="Filter" />
</form>

</div>
<table>
<tr><th><a href="#">Location <img src="/images/down.png" alt="" /></a></th><th><a href="#">Technologies</a></th><th><a href="#">Preferred contact method</a></th><th><a href="#">Years Experience</a></th></tr>
<tr><td><a href="/mentor_profiles/read">Cincinnati</a></td><td><a href="/mentor_profiles/read">C, Ruby</a></td><td><a href="/mentor_profiles/read">Email</a></td><td><a href="/mentor_profiles/read">5</a></td>
<tr><td><a href="/mentor_profiles/read">Indianapolis</a></td><td><a href="/mentor_profiles/read">C#, Ruby</a></td><td><a href="/mentor_profiles/read">Phone</a></td><td><a href="/mentor_profiles/read">4</a></td>
</table>

