<h1>Update Availability</h1>
<p>Set your availability by clicking days or "Week"</p>
<ul><li>Red: Unavailable</li><li>Yellow: Moderately Available</li><li>Green: Openly Available</li></ul>
<TABLE id="CalendarTable">
<TR>
<TD COLSPAN="7"><B>Set Availablity</B></TD>
</TR>


<TR>
<td>Week</td>
<TD>Sun</TD>
<TD>Mon</TD>
<TD>Tue</TD>
<TD>Wed</TD>
<TD>Thu</TD>
<TD>Fri</TD>
<TD>Sat</TD>
</TR>

<TR>
<td class="availGray availWeek">Week</td>
<TD></TD>
<TD></TD>
<TD></TD>
<TD></TD>
<TD></TD>
<TD></TD>
<TD class="availRed availDay">1</TD>
</TR>

<TR>
<td class="availGray availWeek">Week</td>
<TD class="availRed availDay">2</TD>
<TD class="availRed availDay">3</TD>
<TD class="availRed availDay">4</TD>
<TD class="availRed availDay">5</TD>
<TD class="availRed availDay">6</TD>
<TD class="availRed availDay">7</TD>
<TD class="availRed availDay">8</TD>
</TR>

<TR>
<td class="availGray availWeek">Week</td>
<TD class="availRed availDay">9</TD>
<TD class="availRed availDay">10</TD>
<TD class="availRed availDay">11</TD>
<TD class="availRed availDay">12</TD>
<TD class="availRed availDay">13</TD>
<TD class="availRed availDay">14</TD>
<TD class="availRed availDay">15</TD>
</TR>

<TR>
<td class="availGray availWeek">Week</td>
<TD class="availRed availDay">16</TD>
<TD class="availRed availDay">17</TD>
<TD class="availRed availDay">18</TD>
<TD class="availRed availDay">19</TD>
<TD class="availRed availDay">20</TD>
<TD class="availRed availDay">21</TD>
<TD class="availRed availDay">22</TD>
</TR>

<TR>
<td class="availGray availWeek">Week</td>
<TD class="availRed availDay">23</TD>
<TD class="availRed availDay">24</TD>
<TD class="availRed availDay">25</TD>
<TD class="availRed availDay">26</TD>
<TD class="availRed availDay">27</TD>
<TD class="availRed availDay">28</TD>
<TD class="availRed availDay">29</TD>
</TR>

<TR>
<td class="availGray availWeek">Week</td>
<TD class="availRed availDay">30</TD>
<TD class="availRed availDay">31</TD>
<TD></TD>
<TD></TD>
<TD></TD>
<TD></TD>
<TD></TD>

</TR>

</TABLE> 
<p><input type="submit" value="Save Changes" /></p>
<style>
.availRed {
background-color: red;
}
.availYellow {
background-color: yellow;
color: black;
}
.availGreen { 
background-color: green;
}
.availGray availWeek { 
background-color: gray;
}
</style>

<script type="text/javascript">
function removeColors(el) {
	el.removeClassName('availYellow');
	el.removeClassName('availRed');
	el.removeClassName('availGreen');
}
$('CalendarTable').observe('click',onDayClick);
function onDayClick(evnt) {
	el=evnt.findElement();
	if (el.hasClassName('availDay')) {
	el.up().childElements().each(function (sibling) {
		//change week back to gray
		if (sibling.hasClassName('availWeek')) {
			removeColors(sibling);
		} });
	if (el.hasClassName('availRed')) {
		//switch to yellow
		el.removeClassName('availRed');
		el.addClassName('availYellow');
	}
	else if(el.hasClassName('availYellow')) {
		//switch to green
		el.removeClassName('availYellow');
		el.addClassName('availGreen');
	}
	else if(el.hasClassName('availGreen')) {
		//switch to red
		el.removeClassName('availGreen');
		el.addClassName('availRed');
	}
	}
}

$('CalendarTable').observe('click',onWeekClick);

function onWeekClick(evnt){
	el=evnt.findElement();
	if (el.hasClassName('availWeek')) {
		if (el.hasClassName('availYellow')) {
			//switch week to green
			el.up().childElements().each(function (e) {
				removeColors(e);
				e.addClassName('availGreen');
			
			});
		}
		else if (el.hasClassName('availGreen')) {
			//switch week to red
			el.up().childElements().each(function (e) {
				removeColors(e);
				e.addClassName('availRed');
			
			});
		}
		else { //if (el.hasClassName('availGray') || el.hasClassName('availRed')) {
			//switch week to yellow
			el.up().childElements().each(function (e) {
				removeColors(e);
				e.addClassName('availYellow');
			
			});
		}
	}
}
</script>





