<h1>Update John Smith's Profile</h1>
<style type="text/css">
.tabcontent td {
padding:7px 0px;
}
.tabcontent li {
padding-left: 0px; 
}
.tabcontent ul {
padding-left: 0px; 
}
</style>
<form>
<div id="tab3content">
<table>
<tr><td>Specialties/Accomplishments:</td><td><textarea>Third degree black belt in karate</textarea></td></tr>
<tr><td>Activities/Interests:</td><td><textarea>Karate
spelunking
golf
</textarea>
 </td></tr>
<tr><td>Books:</td><td><textarea>
The Art of War
Watchmen
A Mathematician Reads the Newspaper</textarea></td></tr>
<tr><td>TV Shows:</td><td><textarea>
Men of a Certain Age
Dexter
Family Guy
Mythbusters
The Office</textarea></td></tr>
<tr><td>Music Interests:</td><td><textarea>Alternative Rock
Hinder
Red Hot Chili Peppers</textarea></td></tr>
<tr><td>Movies:</td><td><textarea>
The Boondock Saints
Citizen Kane</textarea></td></tr>
</table>
</div>
<input type="button" value="Finish" />
</form>





    


