<h1>Login</h1>
<form action="/accounts/login" method="post">
<% form_for :user, :url => {:action => 'login'} do |f| %>
<table style="width: 300px">
	<tr>
		<td><%= f.label :name, "E-mail:" %></td>
		<td><%= f.text_field :email %></td>
	</tr>
	<tr>
		<td><label id="Label1">Password: </label></td>
		<td><%= f.text_field :pass %></td>
	</tr>
</table>
<p><%= submit_tag "Login" %></p>
<% end %>
<p><a href="/accounts/register">Register</a> <a href="/accounts/forgot">Forgot Password</a></p>
</form>


