<h1>Register</h1>
<form>
<table>
<tr><td>Name:</td><td><input type="text" id="pass" /></td></tr>
<tr><td>Email address:</td><td><input type="text" id="email" /></td></tr>
<tr><td>Password:</td><td><input type="text" id="pass" /></td></tr>
<tr><td>Confirm Password:</td><td><input type="text" id="pass" /></td></tr>
</table>
<p>I agree with the  
<a href="/Accounts/Terms">terms and conditions</a>
<input name="agree_tac" type="checkbox" /></p>
<p><input name="register_button" type="button" value="Register" /></p>
</form>
